<div class="container-fluid mt-5">
    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Developer By Ronak Patel</h5>
          <p class="card-text">Checkout my other web app, hope you have enjoyed.</p>
          <a href="https://spotify-app.freewebhostmost.com/" class="btn btn-primary">Click Here</a>
        </div>
        <div class="card-footer text-muted">
            &copy;copyright All rights reserved
        </div>
      </div>
</div>